<h1>Editar Contacto</h1>
<form action="/edit/<%= contacto.id %>" method="POST">
  <label>Nombres: <input type="text" name="nombres" value="<%= contacto.nombres %>" required></label><br>
  <label>Apellidos: <input type="text" name="apellidos" value="<%= contacto.apellidos %>" required></label><br>
  <label>Fecha Nacimiento: <input type="date" name="fecha_nacimiento" value="<%= contacto.fecha_nacimiento %>" required></label><br>
  <label>Dirección: <input type="text" name="direccion" value="<%= contacto.direccion %>"></label><br>
  <label>Celular: <input type="text" name="celular" value="<%= contacto.celular %>"></label><br>
  <label>Correo: <input type="email" name="correo" value="<%= contacto.correo %>"></label><br>
  <button type="submit">Actualizar</button>
</form>