<h1>Agenda de Contactos</h1>
<a href="/add">Agregar Contacto</a>
<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha Nacimiento</th>
      <th>Dirección</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% contactos.forEach(contacto => { %>
      <tr>
        <td><%= contacto.nombres %></td>
        <td><%= contacto.apellidos %></td>
        <td><%= contacto.fecha_nacimiento %></td>
        <td><%= contacto.direccion %></td>
        <td><%= contacto.celular %></td>
        <td><%= contacto.correo %></td>
        <td>
          <a href="/edit/<%= contacto.id %>">Editar</a>
          <a href="/delete/<%= contacto.id %>">Eliminar</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>